#sidebar {
  
  width: 140px;
  height: 3000px; 
  /* position: fixed; 
  left: 8px;
  display: flex; 
  flex-direction: column; 
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  color: white;
  border: 2px solid #000; */

}

#title {
  font-size: xx-large;
  font-weight: bolder
}


